In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/Admin/Desktop/DA1/data/DataStroke_OK.csv")
data.head()

,Unnamed: 0,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,2029,1,72,0,0,1,0,0,81.0,30.3,1,0
1,1829,0,60,0,0,1,0,0,65.8,27.5,1,0
2,852,0,17,0,0,0,0,1,62.5,26.9,0,0
3,2082,0,48,0,1,0,0,1,101.9,25.1,3,0
4,2260,0,47,0,0,1,0,0,96.0,29.2,1,0

In [3]:
data["gender"] = data["gender"].map({0:"Female", 1:"Male"})

In [5]:
data["ever_married"] = data["ever_married"].map({1:"Yes",0:"No"})

In [6]:
data["work_type"] = data["work_type"].map({0:"Private" ,1:"Self-employed"  , 2:"children" , 3:"Govt_job",4: "Never_worked"})

In [7]:
data["smoking_status"]= data["smoking_status"].map({0:"never smoked" ,1: "Unknown" , 2: "formerly smoked"  , 3:"smokes"})

In [8]:
data["residence_type"] = data["residence_type"].map({0:"Urban", 1:"Rural"})

In [9]:
data.head()

,Unnamed: 0,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,2029,Male,72,0,0,Yes,Private,Urban,81.0,30.3,Unknown,0
1,1829,Female,60,0,0,Yes,Private,Urban,65.8,27.5,Unknown,0
2,852,Female,17,0,0,No,Private,Rural,62.5,26.9,never smoked,0
3,2082,Female,48,0,1,No,Private,Rural,101.9,25.1,smokes,0
4,2260,Female,47,0,0,Yes,Private,Urban,96.0,29.2,Unknown,0

In [10]:
data.to_csv("C:/Users/Admin/Desktop/DA1/data/DataStroke_OK2.csv", index=False)